body {
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    background-color: #bdbdbd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 650px;
    padding: 30px;
    border: 5px solid #4db6ac;
    border-radius: 25px;
}

li {
    list-style-type: none;
    background-color: #616161;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > input {
    -webkit-appearance: none;
    outline: none;
    width: 100px;
    text-align: center;
    align-content: center;
    padding: 20px 0;
}
.pads {
    font-size: 20px;
    box-shadow: 2px 2px black;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #616161;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sound-name {
    width: 200px;
    height: 50px;
    background-color: #616161;
    color: white;
    text-align: center;
}

.slide-container {
    width: 100%;
  }

.slider {
    width: 100%;
    margin-top: 10px;
    height: -50px;
}

.slider:hover {
    opacity: 1;
  }

.slider::-webkit-slider-thumb {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main-container {
        max-width: 280px;
        justify-content: center;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}